<doctype html>
<html>
  <head>
    <title>Crystalshards</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>

  <body>
    <h1>Crystalshards</h1>

    <p>There are a total of <%= repos_count %> shards</p>

    <ul>
      <% crystal_repos.each do |repo| %>
        <li>
          <a href="<%= repo.html_url %>"><%= repo.name %></a> - <%= repo.description %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
