<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Crystalshards</title>
    <link rel="stylesheet" href="/css/application.css">
    <script type="text/javascript" src="/js/application.js" ></script>
  </head>

  <body>
    <section class="main-info">
      <div class="container">
        <h1 class="title">Crystalshards</h1>

        <p class="more-info">
          <% if filter.empty? %>
            There are a total of <span class="repo-count"><%= repos_count %></span> shards
          <% else %>
            There are a total of <span class="repo-count"><%= repos_count %></span> shards that match your query
          <% end %>
        </p>
      </div>
    </section>

    <section class="repos">
      <div class="container">
        <div class="nav">
          <form id="search" method="get" action="/">
            Sort by:
              <select id="sort" name="sort">
                <% SORT_OPTIONS.each_with_index do |target_sort, index| %>
                  <option <%= "selected" if sort == target_sort %>>
                     <%= target_sort %>
                  </option>
                <% end %>
              </select>

            Filter:
              <input type="search" id="filter" name="filter" value="<%= filter %>" maxlength="20" autofocus/>
          </form>
        </div>

        <ul>
          <% crystal_repos.each do |repo| %>
            <li class="repo">
            <a href="<%= repo.html_url %>"><%= repo.name %></a>

            <% if sort == "stars" %>
              (<%= repo.watchers_count %> stars)
            <% elsif sort == "updated" %>
              (<%= human_time(repo.pushed_at) %>)
            <% elsif sort == "forks" %>
              (<%= repo.forks %> forks)
            <% end %>

            <% unless repo.description.try &.strip.empty? %>
             - <%= repo.description %>
            <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </section>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58207299-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
